<form class="sb-search-form" autocomplete="off" enctype="multipart/form-data">
  <fieldset class="sb-search-fieldset">
    <legend class="sb-search-fieldset-legend">Search Parameters</legend>
    <fieldset class="sb-search-fieldset sb-search-fieldset-filter">
    <legend class="sb-search-fieldset-legend ">Search Filter</legend>
      <span class="sb-search-span-no-break" >

        <input  id="sb-search-form-search-for" type="text"  class="sb-search-form-search-for" name="search_for" title="" value="{{search_for}}"/>
        <i id="sb-search-form-btn-search" data-tooltip="Search" class="sb-search-form-btn fas fa-magnifying-glass"></i> 
        <i id="sb-search-form-btn-clear-filter" data-tooltip="Clear filter" class="sb-search-form-btn far fa-times-circle"></i>
      </span>
    </fieldset>                      
    <fieldset class="sb-search-fieldset">
      <legend class="sb-search-fieldset-legend">Search Type</legend>    
      
      <input type="radio" id="sb-search-form-search-type-key-references" name="sb-search-form-search-type" value="key_references" {{#ifCond search_type "key_references"}} checked {{/ifCond}}>
      <label class="sb-search-form-search-type-label" for="sb-search-form-search-type-key-references"> Key references</label>    
      
    </fieldset>  
    <fieldset class="sb-search-fieldset">
      <legend class="sb-search-fieldset-legend">Search Options</legend>
      <input type="checkbox" id="sb-search-form-search-option-itemname" class="sb-search-form-search-option" data-option-key="itemName" {{#if search_options.itemName}} checked {{/if}}><label for="sb-search-form-search-option-itemname"> Item Name</label>
      <input type="checkbox" id="sb-search-form-search-option-subitems" class="sb-search-form-search-option" data-option-key="subItems" {{#if search_options.subItems}} checked {{/if}}><label for="sb-search-form-search-option-subitems"> Subitems</label>
      <input type="checkbox" id="sb-search-form-search-option-tablefilters" class="sb-search-form-search-option" data-option-key="tableFilters" {{#if search_options.tableFilters}} checked {{/if}}><label for="sb-search-form-search-option-tablefilters"> Table Filters</label>
        
    </fieldset>  
    <fieldset class="sb-search-fieldset">
      <legend class="sb-search-fieldset-legend">Show Options</legend>
      <input type="checkbox" id="sb-search-form-search-option-showfolders" class="sb-search-form-search-option" data-option-key="showFolders" {{#if search_options.showFolders}} checked {{/if}}><label for="sb-search-form-search-option-showfolders"> Show Folders</label>      
        
    </fieldset> 

   
  </fieldset>             
   
  <fieldset class="sb-search-fieldset sb-search-result-fieldset">
    <legend class="sb-search-fieldset-legend">Search Result</legend>          

    <section class="sb-search-form-results">
      <table id="sb-search-result-table" class="sb-search-result-table">
        <thead class="sb-search-result-thead">
          <th class="sb-search-column-itemname">Item</th>
          <th class="sb-search-column-itemtype">Item Type</th>
          <th class="sb-search-column-itemkey">Item Key</th>
          {{#if search_options.showFolders}}<th class="sb-search-column-folder">Folder</th>{{/if}}
          <th class="sb-search-column-fieldname">Field Name</th>
          <th class="sb-search-column-fieldvalue">Field Value</th>
        </thead>
        <tbody class="sb-search-result-tbody">
          {{#if search_options.showFolders}}
            {{#eachProperty search_result}}
              <tr>                      
                <td class="sb-search-column-itemname">
                  <div class="sb-two-col-card-wrapper sb-search-result-link" data-item-id="{{value.itemId}}">
                    <div class="sb-two-col-card-image-in-table"><img src="{{value.itemImg}}" class="sb-citem-table-icon"> </div>  
                    <div class="sb-two-col-card-name">{{value.itemName}}</div>
                  </div>
                </td>  
                <td class="sb-search-column-itemtype">{{value.itemType}}</td>
                <td class="sb-search-column-itemkey">{{value.itemKey}}</td>
                <td class="sb-search-column-folder">{{value.folder}}</td>
                <td class="sb-search-column-fieldname">{{value.fieldName}}</td>
                <td class="sb-search-column-fieldvalue">{{{value.fieldValue}}}</td>
              </tr>
            {{/eachProperty }}
          {{else}}
            {{#eachProperty search_result}}
              <tr>                      
                <td class="sb-search-column-itemname">
                  <div class="sb-two-col-card-wrapper sb-search-result-link" data-item-id="{{value.itemId}}">
                    <div class="sb-two-col-card-image-in-table"><img src="{{value.itemImg}}" class="sb-citem-table-icon"> </div>  
                    <div class="sb-two-col-card-name">{{value.itemName}}</div>
                  </div>
                </td>  
                <td class="sb-search-column-itemtype">{{value.itemType}}</td>
                <td class="sb-search-column-itemkey">{{value.itemKey}}</td>
                
                <td class="sb-search-column-fieldname">{{value.fieldName}}</td>
                <td class="sb-search-column-fieldvalue">{{{value.fieldValue}}}</td>
              </tr>
            {{/eachProperty }}
          {{/if}}
        </tbody>
      </table>
      {{#if noResults}}
        <p class="note">No items found matching query</p>
      {{/if}}
    </section>
  </fieldset>

  <!-- Footer -->
  <footer class="form-footer flexrow">

  </footer>

</form>